* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* #region barra de scroll */

::-webkit-scrollbar {
    background-color: #101820;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ffe600, #fff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
    cursor: grab;
}

/* #endregion */

/* #region seleção das palavras */
::selection {
    background-color: #101820;
    color: #fff;
}

/* #endregion */

body {
    background-color: #b6b6b6;
    min-width: 270px;
    transition: background-color 0.5s ease-in-out;
}

/* #region cabeçalho */
header {
    padding: 10px 10px 10px 0px;
    width: 100%;
    background-color: #ffe600;
    color: #101820;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #10182075;
    box-shadow: 0 0 20px 2px #10182075;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

header nav ul a {
    text-align: center;
    text-decoration: none;
    width: 90%;
}

header nav ul a li {
    font-size: 17px;
    text-align: center;
    color: #101820;
    list-style-type: none;
}

header nav ul::before,
ul::after {
    content: " |";
    font-size: 20px;
}

header nav ul a li:hover {
    font-size: 21px;
    text-decoration: underline #10182050;
}

header nav .modo {
    padding: 3px;
    background-color: #ffffff;
    border: 3px solid #d4bc00;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

header nav .modo:hover {
    background-color: #1018202f;
    border: 3px solid #887a00;
    transition: all 0.2s ease-in-out;
}

/* o dark mode */
.dark-mode {
    background-color: #101820;
    color: white;
}

.dark-icon {
    rotate: 360deg;
}

/* #region hamburguer (o símbolo de navegação que aparece só no mobile) */
header nav .hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header nav .hamburguer span {
    border: 2px solid #000;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

header nav .hamburguer:hover span {
    border: 2px solid #ffffff;
    transition: all 0.2s ease-in-out;
}

/* #endregion */
/* #region menu (a navegação só que na horizontal) */
header nav .menu {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0 20px 0;
    background-color: #000000da;
}

header nav .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 90%;
    text-decoration: none;
}

header nav .menu a li {
    font-size: 40px;
    text-align: center;
    width: 100%;
    background-color: #ffffff21;
    color: #fff;
    border-bottom: 4px solid #ffffff16;
    list-style-type: none;
    transition: all 0.6s ease-out;
}

header nav .menu a li:hover {
    font-size: 50px;
    text-decoration: none;
    background-color: #ffffff13;
    transition: all 0.1s ease-in-out;
}

header nav .menu a li:active {
    margin-top: 3px;
    border-bottom: 1px solid #ffffff16;
}

/* #endregion */
/* #region x (fecha a navegação) */
header nav .x {
    display: none;
    justify-content: center;
    position: fixed;
    left: 95.8%;
    width: 50px;
    height: 50px;
    background-color: #ffffff13;
    box-shadow: 0 0 10px 10px #ffffff13;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-out;
    animation: piscando 1s infinite;
}

header nav .x:hover {
    background-color: #ffffff25;
    box-shadow: 0 0 20px 20px #ffffff25;
    transition: all 0.2s ease-in-out;
    animation: piscando 0s none;
}

header nav .x span {
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

header nav .x .xBarra1 {
    rotate: 45deg;
    animation: rodando 1s infinite;
}

header nav .x .xBarra2 {
    rotate: 315deg;
    animation: rodando 1.05s infinite;
}

@keyframes piscando {
    0% {
        background-color: #ffffff13;
        box-shadow: 0 0 10px 10px #ffffff13;
    }

    50% {
        background-color: #ffffff25;
        box-shadow: 0 0 20px 20px #ffffff25;
    }

    100% {
        background-color: #ffffff13;
        box-shadow: 0 0 10px 10px #ffffff13;
    }
}

@keyframes rodando {
    0% {
        height: 38px;
    }

    50% {
        height: 19px;
    }

    100% {
        height: 38px;
    }
}

header nav .x:active span {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

/* #endregion */
/* #endregion */

/* #region main (conteúdo principal) */
main {
    height: calc(100vh - 130px);
    margin-top: 90px;
    padding: 20px;
}

main section {
    width: 100%;
    height: 600px;
}

main section .container-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

main section .container-cards .card-cliente {
    width: 300px;
    height: 400px;
    background-position: center;
    border: 2px solid #ffe600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 100px 10px #ffe6005e;
    background-image: url(https://thumbs.dreamstime.com/b/%C3%ADcone-do-perfil-usu%C3%A1rio-plano-de-fundo-amarelo-abstrato-banner-digital-isolado-no-da-faixa-154780134.jpg);
    background-size: cover;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-cliente:hover {
    transform-style: preserve-3d;
    transform: perspective(10cm) rotateX(20deg) rotateY(10deg);
    border-left: 18px solid #ffe600;
    border-bottom: 18px solid #ffe600;
    cursor: grab;
    transition: all 1s ease-out;
}

main section .container-cards .card-fornecedor {
    width: 300px;
    height: 400px;
    background-position: center;
    border: 2px solid #ffe600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 100px 10px #ffe6005e;
    background-image: url(https://www.azi.com.br/wp-content/uploads/2017/09/cliente.jpg);
    background-size: cover;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-fornecedor:hover {
    transform-style: preserve-3d;
    transform: perspective(10cm) rotateX(20deg);
    border-bottom: 18px solid #ffe600;
    cursor: grab;
    transition: all 1s ease-out;
}

main section .container-cards .card-estoque {
    width: 300px;
    height: 400px;
    background-position: center;
    border: 2px solid #ffe600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 100px 10px #ffe6005e;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/Allentown_Project_042.jpg);
    background-size: cover;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-estoque:hover {
    transform-style: preserve-3d;
    transform: perspective(10cm) rotateX(20deg) rotateY(-10deg);
    border-right: 18px solid #ffe600;
    border-bottom: 18px solid #ffe600;
    cursor: grab;
    transition: all 1s ease-out;
}

main section .container-cards a {
    color: #000;
    text-decoration: none;
    height: min-content;
    margin: 20px;
}

main section .container-cards a button {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ffe600bc;
    border: 1px solid #ffffffe0;
    border-bottom: 3px solid #ffffff;
    font-size: 27px;
    transition: all 0.5s ease-in;
}

main section .container-cards a button:active {
    background-color: #ffe600e0;
    border: 0;
    transition: all 1s ease-out;
}

main section .container-cards .card-cliente:hover a button {
    border: 0;
    border-left: 8px solid #d4bc00;
    border-bottom: 8px solid #887a00;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-cliente:hover a button:active {
    border: 0;
    transition: all 1s ease-out;
}

main section .container-cards .card-fornecedor:hover a button {
    border: 0;
    border-bottom: 8px solid #887a00;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-fornecedor:hover a button:active {
    border: 0;
    transition: all 1s ease-out;
}

main section .container-cards .card-estoque:hover a button {
    border: 0;
    border-right: 8px solid #d4bc00;
    border-bottom: 8px solid #887a00;
    transition: all 0.5s ease-in;
}

main section .container-cards .card-estoque:hover a button:active {
    border: 0;
    transition: all 1s ease-out;
}

/* #region cliente.html */
main section .container-formulario {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section .container-formulario form {
    padding: 20px;
    border-radius: 16px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff3b;
}

main section .container-formulario form h1 {
    font-size: 18px;
    margin: 10px 0;
}

main section .container-formulario form .formulario-bloco {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.5 ease-in-out;
}

main section .container-formulario form .formulario-bloco label {
    text-align: left;
    position: relative;
    top: 34px;
    left: 10px;
    color: #b6b6b6;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

main section .container-formulario form .formulario-bloco input {
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

main section .container-formulario form .formulario-bloco label::after {
    content: ' *';
    color: #ffe600;
}

main section .container-formulario form .formulario-bloco:hover label {
    top: 0;
    left: 10px;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    color: white;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

main section .container-formulario button {
    width: 100%;
    background-color: #ffe600;
    color: #000000;
    border: none;
    border-bottom: 3px solid #d4bc00;
    border-radius: 12px;
    padding: 10px;
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

main section .container-formulario button:hover {
    background-color: #d4bc00;
    transition: all 0.2s ease-in-out;
}

main section .container-formulario p:nth-child(2) {
    width: 100%;
    margin-left: 10px;
    color: #ffe600;
    font-size: 15px;
}

main section .container-formulario p span {
    opacity: 50%;
}

/* #endregion */

/* #endregion */

/* #region rodapé */
footer {
    padding: 20px 0;
    height: 20px;
    width: 100%;
    background-color: #ffe600;
    box-shadow: 0 0 20px 2px #ffe60075;
    color: #101820;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */

/* #region responsivo */
@media screen and (max-width: 941px) {
    header nav {
        width: 70%;
    }

    header nav ul a li {
        font-size: 16px;
    }

    header nav .x {
        left: 92.8%;
    }

    main {
        height: calc(100vh + 250px);
        margin-top: 80px;
        padding: 15px;
    }

    main section .container-cards {
        flex-wrap: wrap;
        height: 900px;
    }

    main section .container-cards .card-cliente:hover {
        transform: skew(0, 0);
        border-left: 2px solid #ffe600;
        border-bottom: 2px solid #ffe600;
        transition: 0s;
    }

    main section .container-cards .card-fornecedor:hover {
        transform: skew(0, 0);
        border-bottom: 2px solid #ffe600;
        transition: 0s;
    }

    main section .container-cards .card-estoque:hover {
        transform: skew(0, 0);
        border-right: 2px solid #ffe600;
        border-bottom: 2px solid #ffe600;
        transition: 0s;
    }

    main section .container-cards .card-cliente:hover a button {
        border: 0;
        border-bottom: 8px solid #887a00;
        transition: all 0.5s ease-in;
    }

    main section .container-cards .card-fornecedor:hover a button {
        border: 0;
        border-bottom: 8px solid #887a00;
        transition: all 0.5s ease-in;
    }

    main section .container-cards .card-estoque:hover a button {
        border: 0;
        border-bottom: 8px solid #887a00;
        transition: all 0.5s ease-in;
    }
}

@media screen and (max-width: 634px) {
    header nav {
        width: 40%;
        align-items: center;
    }

    header nav ul {
        display: none;
    }

    header nav .modo {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    header nav .hamburguer {
        display: flex;
    }

    header nav .x {
        left: 81.8%;
        top: 2%;
    }

    main {
        height: calc(100vh + 750px);
        margin-top: 40px;
        padding: 10px;
    }

    main section .container-cards {
        height: 1400px;
    }

    main section .container-formulario {
        height: 600px;
    }

    main section .container-formulario form {
        width: 75%;
    }
}
/* #endregion */